body {
    height: 100vh;
    overflow-x: hidden;
}

.ms-sidebar {
    padding-left: 300px;
}

.w-sidebar {
    width: 280px;
}

@media screen and (max-width: 768px) {
    .ms-sidebar {
        padding-left: 0px;
    }
}